.headerContainer {
    display: flex;
    justify-content: space-between;

    .pageName {
        
        .title {
            font-size: 24px;
            font-weight: 800;
            line-height: 36px;
            color: #0F172A;
        }
    }

    .icons {
        display: flex;
        gap: 12px;

        .searchAndNotify {
            display: flex;
            gap: 12px;
            align-items: center;
            cursor: pointer;

            .search, .bell {
                width: 24px;
                height: 24px;
                margin: 8px;
            }
        }

        .dropdown {
            display: flex;
            gap: 12px;
        }


    }
}