.homepageMainContainer {
    display: flex;
    justify-content: space-between;

    .inputFields {
        width: 455px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .dropdowns{
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }
}