.sliderWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.embla {
  overflow: hidden;
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
}

.embla__container {
  display: flex;
}

.embla__slide {
  position: relative;
  flex: 0 0 100%;
  min-width: 0;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 16px;
  }

  .title {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .body {
    color: white;
    font-size: 15px;
    line-height: 1.4;
  }
}

.pagination {
  display: flex;
  gap: 6px;
  margin-top: 16px;
}

.dot {
  width: 8px;
  height: 9px; 
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.dot.active {
  width: 25px;
  height: 8px;
  border-radius: 4px;
  background-color: white;
}



