.slider {
  width: 20%;
  height: 20%;
  position: relative;
  display: inline-block;
}

.image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.swiper-pagination-bullet {
  background: #ccc; 
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #007bff; 
}
