.OPTContainer {
    display: flex;
    flex-direction: column;

    .form {
        .input {
            height: 56px;
        }
    }
    .saveAndPassword {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
        margin-bottom: 20px;

        .password {
            color: #194BFB;
            display: flex;
        }
    }

    .button {
        width: 424px;
        height: 56px;
    }


}



