.OPTContainer {
    display: flex;
    flex-direction: column;
    

    .mail {
        display: flex;
        flex-direction: column;

        input {
            width: 424px;
            height: 56px;
        }
    }

    .saveAndPassword {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .password {
            color: #194BFB;
            display: flex;
        }
    }

    .button {
        background-color: #668CA7;
        width: 424px;
        height: 56px;
    }

    .button:active {
        background-color: #003F6D;
    }

}