.PasswordContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    width: 100vh;
    height: 100vh;


    .login {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            font-size: 32px;
            font-weight: 800;
            color: #334155;
        }

        .input {
            width: 100%;
            height: 56px;
            margin-top: 50px;
        }

        div {
            display: flex;
            width: 100%;
            margin-top: 20px;
            display: flex;
            justify-self: center;

            img {
                width: 24px;
                height: 24px;
                margin-right: 10px;;
            }

            p {
                font-size: 16px;
                font-weight: 400;
                color: #475569;
            }
        }

        .button {
            width: 100%;
            height: 56px;
            background-color: #668CA7;
        }

        .button:hover {
            background-color: #003F6D;
        }

    }
  

}