.sidebarContainer {
    background-color: #003F6D;
    width: 250px;
    height: 100%;
    border-radius: 16px;
    padding: 12px;
    
    .menuList {
        .list {
            .eachItem {
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 20px;
                cursor: pointer;

                .menuImg {
                    text-align: center;
                }

                .menuTitle {
                    text-align: center;
                }
            }
        }
    }
}