.smth {
    background-color: #003F6D;
    width: 798px;
    height: 976px;
    border-radius: 16px;
    margin: 24px;
    margin-right: 0;

    img{
        width: 751px;
        height: 943px;
    }

    div{
        position: absolute;
        z-index: 1;
    }

}